/* General navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  /* Styles for the left section of the navbar */
  .navbar-left {
    display: flex;
    align-items: center;
    margin-left: 6%;
  }
  
  /* Styles for the logo */
  .navbar img {
    height: 120px; /* Adjusted height for better alignment */
    margin-right: 20px; /* Add space between logo and heading */
  }
  
  /* Styles for the heading */
  h2 {
    font-size: 25px;
    margin: 0; /* Remove default margin */
  }
  
  /* Styles for the navigation links */
  .navbar-links {
    display: flex;
    align-items: center;
   margin-right: 350px; 
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links ul li {
    margin-right: 60px; /* Add space between links */
    cursor: pointer;
  }
  
  .navbar-links ul li:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }
  
 
  